boto3==1.4.7
botocore==1.7.28
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
docutils==0.14
futures==3.1.1
idna==2.6
jmespath==0.9.3
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.11
six==1.11.0
urllib3==1.22
validators==0.12.0
